#page-container {
    position: relative;
    min-height: 100vh
}

#content-wrap {
    padding-bottom: 2.5rem;
}  
.percobaan {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.Pembayaran {
    margin: 0 300px;
    font-size: 20px;
}